<!DOCTYPE html>
<html>
    <head>
    
    </head>

    <body style="background-color: white;">

        <table align="right" style='background-color: white; border-collapse: collapse; color: black; font-family: verdana; text-transform: uppercase; width: 600px;'>
            <tr>
                <th>
                </th>
                <th style="font-size: 18px; text-align: left;">
                    dayclass {{todays_ordinal_MODish_year}}
                </th>
            </tr>
            <tr style="font-size: 14px; text-align: left;">
                <th>
                    endpoints
                </th>
                <th>
                    urls
                </th>
            </tr>
            {% for link in links %}
                {% if link[0].split('/')[2] != 'query' and link[0].split(':')[-2] != '/sightings/query'%}
                    <tr style="font-size: 12px; text-align: left;">
                        <td style="text-align: left; padding-right: 10px;">{{link[1]}}</td>
                        <td style="text-align: left;"><a style="color:grey;" href="{{link[0]}}">{{link[0]}}{{link[0].split(':')[-2]}}</a></td>
                    </tr>
                {% endif %}
                {% if link[0].split('/')[-1] == 'query' %}
                    <tr style="font-size: 12px; text-align: left;">
                        <td style="text-align: left; padding-right: 10px;">{{link[1]}}</td>
                        <td style="text-align: left;"><a style="color:grey;" href="/sightings/today/random">/sightings</a>/query?<a style="font-style: italic;">parameter(s)</a></td>
                    </tr>
                {% elif link[0].split(':')[-2] == '/sightings/query' %}
                    <tr style="font-size: 12px; text-align: left;">
                        <td style="text-align: left; padding-right: 10px;">{{link[1]}}</td>
                        <td style="text-align: left;"><a style="color:grey;" href="/sightings/today/random">/sightings</a>/query?{{link[0].split(':')[-1]}}=<a style="font-style: italic;">value</a>&</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

        <script type='text/javascript'>
            function inject_data(variable) {
                return variable
            };
            const today_random_sighting=inject_data( 
                [{{ today_random_sighting|safe }}] 
            );
            console.log(today_random_sighting);
        </script>
        
    </body>
</html>